body{
	margin: 0px;
  background: linear-gradient(to top right, 	#99ffff , #00e6e6 , #e6ffff );
  background-repeat: no-repeat;}

.container{
  padding: 40% 10%;
	background: url(../assets/images/sunny-day.jpg);
	background-repeat: no-repeat;
  background-size: 100% 100%; }

 .kitty{
 	float: left;
 	padding: 37%;
 	position: static;
 	margin: 30%;
	background: url(../assets/images/kitten-large.png);
	background-repeat: no-repeat;
    background-size: 50% 30%; }




  @media screen and (max-width: 900px) and (min-width: 600px){

  	body{
  		background: linear-gradient(to top right, 	#d580ff, #3380cc, #3380cc, #d580ff);
      background-repeat: no-repeat;}

  	.container{
    padding: 100%;
	  background: url(../assets/images/dawn.png);
	  background-repeat: no-repeat;
    background-size: 50% 30%; }

    .kitty{
 	  float: left;
 	  padding: 37%;
 	  position: static;
 	  margin: 30%;
	  background: url(../assets/images/kitten-medium.png);
	  background-repeat: no-repeat;
    background-size: 50% 30%; }

  }

  @media screen and (max-width: 600px){

  	body{
  		background: linear-gradient(to top right, 	#000, #000);
      background-repeat: no-repeat;}

  	.container{
    padding: 100%;
	  background: url(../assets/images/night.jpg);
	  background-repeat: no-repeat;
    background-size: 50% 30%; }

    .kitty{
 	  float: left;
 	  padding: 40%;
 	  position: static;
 	  margin: 15% 25%;
	  background: url(../assets/images/kitten-small.png);
	  background-repeat: no-repeat;
    background-size: 50% 50%; }
}



